@import './vue-multiselect.min';
@import './_vars';

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: 'Roboro',
  'Montserrat', sans-serif;
  color: $blue;
  background-color: $dark;
  font-weight: 400;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}